<nav class="container-fluid navStock d-flex justify-content-end align-items-center p-0">
    <a href="/stock" class="btnNavStock aNavStock2 fs-5">Inventario</a>
    <a href="#" class="btnNavStock aNavStock1 border border-top-0 border-start-0 border-end-0 border-success fs-5">Movimientos</a>
</nav>
<div class="mt-5 container contStock p-4 overflow-auto">
    {{#if products}}
    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <th scope="col">Autor del movimiento</th>
                <th scope="col">Producto</th>
                <th scope="col">Movimiento</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <th>{{author}}</th>
                    <th>{{product}}</th>
                    <th>{{nameMovement}}</th>
                    <th>{{cantidad}}</th>
                    <th>{{create_at}}</th>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="invisible">.</p>
    {{else}}
    <div class="row border border-start-0 border-end-0 border-bottom-0 mt-3">
        <div class="mt-5 col-4 mx-auto text-center bg-warning">Debe de agregar productos</div>
    </div>
    <p class="invisible">.</p>
    {{/if}}
</div>