<link rel="stylesheet" href="/styles/StylesServices/serviceFamily.css">
<div class="overflow-auto" style="height: 100vh;" >
    <div class="d-flex flex-row justify-content-around mt-3">
        <a href="/services/addFamily" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar familia
            </div>
        </a>
        <a href="/services/addServices" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar servicio
            </div>
        </a>
    </div>
    <div class="pt-5 px-5">
        <div class=""><u>{{family.familyName}} > Servicios</u></div>
        <div class="row g-4 mt-5">
            {{#if services}}
                {{#each services}}
                    <div class="col-3">
                        <div class="card cardService">
                            <div class="card-img-top imgCardServices" style="background-image: url('/uploads/{{imgName}}');">
                                <div class="d-flex justify-content-end"> 
                                    <p class="priceService">$/{{price}}</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-title text-center text-secondary">
                                    {{serviceName}}
                                </div>
                                <div class="d-flex justify-content-around mt-3">
                                    <a href="#" class="btn btn-success textBtnModifyService">Modificar precio</a>
                                    <a href="#" class="btn btn-danger textBtnModifyService">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {{else}}
                    <div class="col-3">
                        <div class="card cardsFamilies border border-2 border-secondary shadow d-flex align-items-center justify-content-center text-secondary">
                            se debe de agregar familias
                        </div>
                    </div>
            {{/if}}
        </div>        
    </div>
</div>